.quiz-box {
  width: 50vw;
  background-color: var(--quiz-box-color);
  height: max-content;
  border-radius: 0.5rem;
}

.options-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
}

.next-btn {
  margin-left: 20vw;
}

.score-btn{
    background-color: #efefef;
    padding: 0.4rem 0.8rem;
}