
@import url(./Color.css);

.no-style {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--pure-white);
}
.pointer {
  cursor: pointer;
}



.themetext{
  color: var(--theme-color);
 
 }